#PathID3{
    display: none;
}

.condition {
    float: left;
    margin: 0 0 30px 0;
}
.achievement {
    margin: 0 0 30px 0;
}
.schrep {
    margin: 0 0 30px 0;
}
.condition-left {
    width: 820px;
    float: left;
    border-right: solid 1px #ddd;
    position: relative;
    margin: 0 0 30px 0;
    padding: 17px 20px 0 20px;
    overflow: hidden;
}
.imgpag {
    margin: 0 0 30px 0;
    text-align: center;
}
.c_tits {
    height: 30px;
    line-height: 30px;
    color: #3083c7;
    font-size: 24px;
    text-align: center;
    margin: 50px 0 65px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    /* width: 862px; */
}
.condition-left .container {
    /*width: 862px;*/
}
.btips {
    text-align: center;
    margin-top: 10px;
    color: red;
}
.steptd {
    width: 100%;
    margin-top: 20px;
}
.tdoutbox {
    position: relative;
    text-align: center;
    height: 60px;
    width: 100%;
}
.tdoutbox .lines {
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 23px;
}
.colorlines .lines {
    border-color: #FE8500;
}
.tdoutbox .arrt {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #C9C9C9;
    color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 15px;
    text-align: center;
    font-size: 12px;
}
.tdoutbox.colorlines .arrt {
    background-color: #FE8500;
}
.tdoutbox span {
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    width: 100%;
    left: 0;
}
.tdoutbox.colorlines span {
    color: #FE8500;
    font-weight: bold;
}
.zlykuang {
    border: none;
    width: auto;
}
.zlykuang td {
    padding: 8px 5px;
    color: #000;
}
.zlykuang td {
    padding: 8px 5px;
    color: #000;
}
#container select, .container select {
    height: 30px;
    width: 280px;
    border-radius: 3px;
    border: solid 1px #A9A9A9;
}
.s2 input, .s1 input {
    height: 28px;
    line-height: 27px;
    width: 270px;
    border-radius: 5px;
    border: solid 1px #A9A9A9;
    padding: 0 5px;
}
.tip1 {
    white-space: nowrap;
    position: absolute;
    color: red;
    top: 0;
    line-height: 40px;
    width: 170px;
    right: -168px;
}
.t_1 {
    right: -168px;
}
.s2 .verifyinput {
    /* text-transform: lowercase; */
    width: 100px;
}
.s2 #img_verifys {
    height: 29px;
    width: 95px;
    margin: 0 5px;
}
.verbtn {
    float: left;
    margin-top: 5px;
}
.btnbox_news {
    clear: both;
    display: block;
    /* border-top: 1px #ddd solid; */
    margin-top: 20px;
    padding-top: 0;
    text-align: center;
    margin-top: 10px;
}
.alignleft {
    text-align: left !important;
}
.btnbox_news input {
    margin-right: 15px;
}
.btnbox_news button, .btnbox_news input {
    background-image: none;
    background-color: rgb(13, 163, 226);
    color: rgb(255, 255, 255);
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-size: 14px;
    font-family: 微软雅黑;
    padding: 0px 10px;
    border-radius: 3px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}



.intr {
    float: left;
    width: 240px;
    margin-left: 40px;
    text-align: left;
    margin-top: 20px;
}
.intr .intrtit {
    font-size: 18px;
    padding: 8px 0 20px 40px;
    border-bottom: #ddd solid 1px;
    margin-bottom: 30px;
    position: relative;
}
.problem li {
    padding-left: 20px;
    line-height: 200%;
    margin-bottom: 20px;
    cursor: pointer;
}
.problem .problem_answer {
    display: none;
}
.intr ul li {
    padding-left: 20px;
    line-height: 200%;
    margin-bottom: 20px;
}
.intr .intrtit i {
    position: absolute;
    left: 15px;
    top: 15px;
    height: 10px;
    width: 10px;
    background-color: #fe8500;
}

.aclist-tit {
    margin: 30px 0 20px;
    overflow: hidden;
    font-size: 16px;
}
.aclist-name {
    margin-right: 60px;
}
.aclist-tit a {
    float: right;
    text-decoration: underline;
    color: #3083c7;
}
.aclist table {
    text-align: center;
    font-size: 16px;
    border-collapse: collapse;
}
.aclist table td,th {
    padding: 10px 0;
    /*width: 25%;*/
    border-color: #eee;
}
.aclist table td a{color:#3083c7;}
#achievement-tbody tr:nth-child(even) {
    background:#f4f4f4;
}


.cjd-top {
    width: 450px;
    padding-bottom: 10px;
    margin: 10px auto;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    font-size: 16px;
}
.cjd-top-left {
    float: left;
    width: 290px;
}
.cjd-top-left span,.cjd-bot span {
    display: block;
    line-height: 3;
}
.cjd-bot span strong{color: #FC1200;}
.cjd-top-left span i,.cjd-bot span i {
    font-style: normal;
}
.cjd-top-right {
    width: 100px;
    height: 130px;
    float: right;
    border: 1px solid #eee;
    background: #f4f4f4;
    text-align: center;
    line-height: 130px;
}
.cjd-top-right img{width:100%;}
.cjd-bot {
    width: 450px;
    margin: auto;
    font-size: 16px;
}

.cjd-bot p {
    background: #D0E0EE;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.cjd-bot-txt {
    overflow: hidden;
}
.cjd-bot-txt>span {
    float: left;
}
.cjd-bot-txt div {
    float: left;
}
.cjd-bot-txt div strong {
    color: #FC1200;
    margin-top: 14px;
    display: block;
}
.cjd-bot-txt div i {
    font-style: initial;
    font-weight: bold;
    color: #19407A;
}
.cjdNum {
    width: 450px;
    font-size: 16px;
    margin: 30px auto; 
}
.cjdNum i {
    font-style: normal;
}
.cetSetRemark {
    padding: 16px 0px 0px 0px;
    color: red;
    line-height: 30px;
}
.cjdBtn {
    margin: 30px 0 0 0;
    text-align: center;
}
.cjdBtn a {
    text-decoration: none;
}
.cjdBtn span {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #32AEEA;
    color: #Fff;
    border-radius: 5px;
    margin: 0 5px;
}
.cjd-tips {
    background: #f4f4f4;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
}

.achievement-eq {
    overflow: hidden;
    margin-top: 20px;
    color: #FC1200;
}
.achievement-eq span {
    float: left;
}
.achievement-eq div {
    float: left;
    width: 760px;
}
.achievement-eq div p{
    margin-bottom:10px;
}
.queryLeft {
            width: 815px;
            float: left;
            position: relative;
            padding-right: 50px;
            border-right: solid 1px #ddd;
            margin: 0 0 60px 0;
        }
        .c_tits {
            height: 30px;
            line-height: 30px;
            color: #3083c7;
            font-size: 22px;
            text-align: center;
            margin: 40px 0;
        }
        .container ol {
            margin: 0 auto;
            width: 520px;
        }
        .container ol li {
            clear: both;
            float: left;
            width: 100%;
            position: relative;
        }
        .container ol li.tip_n {
            margin: 3px 0 5px;
            color: #a7a7a7;
        }
        .container ol li span {
            float: left;
            width: 132px;
            text-align: right;
            line-height: 30px;
        }
        .container ol li div {
            float: left;
            margin-left: 10px;
            height: 30px;
            overflow: hidden;
        }
        .tips {
            position: absolute;
            color: red;
            top: 3px;
            width: 203px;
            font-style: normal;
        }
        ol li div input {
            height: 28px;
            line-height: 27px;
            width: 230px;
            border-radius: 5px;
            border: solid 1px #a9a9a9;
            padding: 0 5px;
        }
        .s3 {
            clear: both;
            text-align: center;
        }
        .s3 input, .s3 button, .s3 a {
            background-image: none;
            background-color: #01ADEF/* #3083c7*/;
            color: #fff;
            width: 80px;
            height: 30px;
            line-height: 29px;
            margin: 0 5px;
            padding: 0;
            border-radius: 3px;
            border: 0;
            text-align: center;
            display: inline-block;
            cursor: pointer;
        }
        .qtcx-out {
            width: 600px;
            margin: 40px auto;
        }
        .qtcx-outTit {
            width: 581px;
            border: 1px solid #ddd;
            border-bottom: 0;
            text-align: center;
            padding: 10px;
            font-size: 20px;
            color: #3083c7;
        }
        .qtcx {
            width: 601px;
            border: 1px solid #ddd;
            overflow: hidden;
        }
        .qtcx .qtcx-l {
            float: left;
            border-right: 1px solid #ddd;
            padding: 10px 20px;
            width: 260px;
        }
        .qtcx .qtcx-r {
            float: left;
            padding: 10px 20px;
            width: 259px;
        }
        .qtcx span {
            color: #3083c7;
            font-size: 18px;
            display: block;
            border-bottom: 1px solid #ddd;
            text-align: center;
            line-height: 2;
        }
        .qtcx p {
            font-size: 14px;
            height: 60px;
        }
        .qtcx p em {
            font-style: normal;
            color: #3083c7;
        }
        .qtcx a {
            background-color: #01ADEF/* #3083c7*/;
            color: #fff;
            text-decoration: none;
            width: 80px;
            height: 30px;
            line-height: 29px;
            font-size: 14px;
            display: block;
            text-align: center;
            border-radius: 3px;
            margin: auto;
            margin-bottom: 10px;
        }
        .score {
            /* 	width: 400px; */
            width:450px;
            margin: 0 auto
        }
        .clear {
            clear: both
        }
        .clist li {
            overflow: hidden;
            clear: both;
            margin-bottom: 15px;
            color:rgb(7, 78, 151);
        }
        .clist li strong {
            float: left;
            width: 90px;
            text-align: right;
            font-weight: 600
        }
        .clist li span {
            float: left;
            margin-left: 3px
        }
        .clist li span#s {
            color: #d71e04;
            font-weight: bold
        }
        .titleT{
            height:35px;
            line-height:35px;
            background-color:#b8cce4;
            text-align:center;
            margin-bottom:15px;
            font-weight:600;
            letter-spacing:3px;
            /* font-size:16px; */
        }

        .scoreT li strong {
            text-align: left;
            width: auto;
            color: #707070;
            font-weight: normal
        }
        .scoreT li span {
            font-weight: bold
        }
        .scoreT {
            padding-left: 95px
        }
        .tipss {
            background-color: #f5f5f5;
            padding: 20px 20px;
            border-radius: 5px;
            line-height: 180%
        }
        .tipss dl{overflow: hidden;zoom:1;clear: both}
        .tipss dt{float: left;width: 45px;font-weight: bold}
        .tipss dd{float: left;width: 1115px}
        .hisbtn {
            text-align: center;
            margin-top: 30px
        }
        .intr .ul1{padding-left:13px;padding-bottom:0px;}

        .intr .ul1 li .em2 {
            top: 5px;
            background: url(//www.neea.edu.cn/res/Home/structure/170820862.png) center no-repeat;
        }
        .intr .ul1 li{padding-left:30px;position:relative;background:none !important;margin-bottom:8px;margin-top:0px;}

        .intr .ul1 li em{position:absolute;left:0px;top:4px;width:15px;height:17px;display:block;}

        .intr .ul1 li .em1{background:url(//www.neea.edu.cn/res/Home/structure/170820861.png) center no-repeat;}

        .intr .ul1 li .em2{top:5px;background:url(//www.neea.edu.cn/res/Home/structure/170820862.png) center no-repeat;}

        .intr .ul1 li .em3{background:url(//www.neea.edu.cn/res/Home/structure/170820863.png) center no-repeat;}
.imgtab {
        width: 100%;
    }
    .imgtab .myhed {
        width: 137px;
        text-align: center;
        vertical-align: middle;
    }
    .imgtab .myhed img {
        width: 113px;
        height: auto !important;
    }
    .imgtab td {
        border: 1px #ddd solid;
        padding: 13px 5px;
    }
    table,th,td{
        border-collapse: collapse;
    }
    .imgtab td.he_xi {
        background: #f6f6f6
    }

/*网页版PDF*/
.cbody{position: relative;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}
#_QR tr{height:1px !important;}
#_QR td{width:1px !important;}
.cbody div{position:absolute;font-size:12px;font-weight:bold;}
.cbody #_BG{width:100%;height:100%}
a.btn {
    background: #32AEEA;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}
